/* --- Sidebar Menu --- */
/* Contenedor principal del menú lateral */
.sidebar-menu {
    width: 90px;
    background-color: var(--white);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
    box-sizing: border-box;
    box-shadow: 4px 0 24px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    flex-shrink: 0;
}

/* Lista de elementos del menú */
.sidebar-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    flex-grow: 1;
}

/* Enlaces de los elementos del menú */
.sidebar-menu .menu-item a,
.sidebar-menu .menu-bottom a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 50px;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.2s ease;
}

/* Iconos dentro de los enlaces del menú */
.sidebar-menu .menu-item a i,
.sidebar-menu .menu-bottom a i {
    font-size: 1.9rem;
    color: var(--primary-green);
}

/* Estilos para el estado hover y activo de los elementos del menú */
.sidebar-menu .menu-item:hover a,
.sidebar-menu .menu-item.active a,
.sidebar-menu .menu-bottom a:hover {
    background-color: var(--primary-green);
}

/* Estilos para los iconos en estado hover y activo */
.sidebar-menu .menu-item:hover a i,
.sidebar-menu .menu-item.active a i,
.sidebar-menu .menu-bottom a:hover i {
    color: var(--white);
}

/* Sección inferior del menú (ej. logout) */
.sidebar-menu .menu-bottom {
    padding-top: 20px;
}